<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <section class="conteiner-1">
                
        <article class="principal-btn">
            <div class="menu-categorias">
                <ul class="lista">
                    <li>
                        <button class="btn-categoria"><i class="bi bi-hand-index-thumb"></i>ALIMENTO</button>
                    </li>

                    <li>
                        <button class="btn-categoria"><i class="bi bi-hand-index-thumb"></i>ACCESORIOS</button>
                    </li>
                    <li>
                        <button class="btn-categoria"><i class="bi bi-hand-index-thumb"></i>JUGUETES</button>
                    </li>
                    <li>
                        <button class="btn-categoria"><i class="bi bi-hand-index-thumb"></i>SERVICIOS</button>
                    </li>
                </ul>
                
            </div>
        </article>
        <article class="principal-productos">


            <div class="cart">
                <div class="product">
                    <img src="images/peero.jpg" alt="Producto 1">
                    <div class="abajo-card">
                        <h3 class="descripcion">Descripción del Producto 1</h3>
                        <div class="precio">$209.00</div>
                        <button class="boton-comprar">Comprar</button>
                    </div>
                    
                </div>
            </div>
            
            <div class="cart">
                <div class="product">
                    <img src="images/perro.jpg" alt="Producto 1">
                    <div class="abajo-card">
                        <h3 class="descripcion">Descripción del Producto 1</h3>
                        <div class="precio">$220.00</div>
                        <button class="boton-comprar">Comprar</button>
                    </div>
                    
                </div>
            </div>
            
            <div class="cart">
                <div class="product">
                    <img src="images/perro1.jpg" alt="Producto 1">
                    <div class="abajo-card">
                        <h3 class="descripcion">Descripción del Producto 1</h3>
                        <div class="precio">$190.00</div>
                        <button class="boton-comprar">Comprar</button>
                    </div>
                    
                </div>
            </div>

        </article>
   
    </section>
   
    <section class="parte-2">
      
            <div class="texto">
              <h2>20 AÑOS NOS AVALAN </h2>
              <p>¡¡ CONOCEMOS LO QUE HACEMOS, AMAMOS LO QUE HACEMOS !!</p>
           
          </div>

    </section>
   
</body>
</html>