<div class="container">
    <h1>Contacto</h1>
    <form class="contact-form">
        <input type="tel" placeholder="Telefono" class="input-field">
        <input type="text" placeholder="Nombre" class="input-field">
        <input type="email" placeholder="Correo Electrónico" class="input-field">
        <textarea placeholder="Mensaje" class="input-field textarea"></textarea>
        <button type="submit" class="submit-button">Enviar</button>
        
    </form>
</div>

<section class="parte-3">
    <div class="texto">
        <h2>Donde estamos</h2>
        <p>Nos encontramos en Flores, venì a visitarnos.</p>
    </div>

</section>  