<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="stylesheet" href="../css/nosotros.css">

    <title>Quienes somos</title>
</head>

<body>
    <header>
   
    </header>
    <nav class="navbar">
        <img src="../images/logis.png" alt="Logo" class="logos">
        <a href="../index.html" class="titulo">INICIO</a>
        <div class="search">
            <input type="text" placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    
            <ul class="nav-links">
                <li><a href="../templates/nosotros.html" class="navbar-opcion">QUIENES SOMOS</a></li>
                <li><a href="../templates/trabaja_con_nostros.html"class="navbar-opcion">TRABAJA CON NOSOTROS</a></li>
            </ul>
            <div class="izquierda"></div>
            <a href="../templates/carrito.html" class="login-icon"><i class="fas fa-shopping-cart"></i></a>
            <a href="../templates/login.html" class="login-icon"><i class="fas fa-user"></i></a>
            <a href="" class="login-icon"><i class="far fa-heart"></i></a>
        </div>
    </nav>

    <div class="container-quienes">
        <h1>¿Quiénes somos?</h1>
        <div class="fly">

            <img src="../images/png-clipart-a-bee-bee-fly-removebg-preview.png" alt="mosca" class="mosca">
          </div>
        <div class="contenedor-ima">
            <img src="../images/mascotas-1.jpeg" alt="perros" class="titulo-image">
        </div>  
        <p class="p-arriba">
            ¡Hola! Bienvenidos a nuestra tienda. Somos Juan y Daniela, amigos que comparten el amor por los animales y el deseo de brindarles lo mejor. Nos enorgullece ofrecer productos de calidad, desde alimentos hasta juguetes y accesorios. Queremos que tus amigos peludos estén cómodos y felices. ¡Los esperamos!
        </p>
        
    
        <div class="cartas">
            <div class="carta">
                <img src="../images/Dueño.PNG" alt="Juan" class="carta-image">
                <h2>Juan</h2>
                <p class="p-abajo">Amante de los animales y co-fundador de nuestra tienda. Siempre comprometido con ofrecer lo mejor para nuestros mas queridos.</p>
            </div>
            <div class="carta">
                <img src="../images/dueña.jpg" alt="Daniela" class="carta-image">
                <h2>Daniela</h2>
                <p class="p-abajo">Apasionada por brindar productos de calidad para mascotas. Nuestra co-fundadora y experta en cuidado animal.</p>
            </div>
        </div>
    
       
    </div>

    <footer>
        <div class="footer-container">
            <p>&copy; 2023 Mi Página Web. Todos los derechos reservados.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <script src="../APP/app.js"></script>
</main>
</body>  