   <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../css/trabaja_con_nosotros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;1,500&display=swap" rel="stylesheet">       
    <title>Trabaja con nosotros</title>
</head>
<body>
    <nav class="navbar">
        <img src="../images/logis.png" alt="Logo" class="logos">
        <a href="../index.html" class="titulo">INICIO</a>
        <div class="search">
            <input type="text" placeholder="Buscar">
            <button><i class="fas fa-search"></i></button>
        </div>
            <div class="contenedor-derecha">
            
               <ul class="nav-links">
                 <li><a href="../templates/nosotros.html" class="navbar-opcion">QUIENES SOMOS</a></li>
                 <li><a href="../templates/trabaja_con_nostros.html"class="navbar-opcion">TRABAJA CON NOSOTROS</a></li>
               </ul>
               <div class="izquierda">
                <a href="../templates/carrito.html" class="login-icon"><i class="fas fa-shopping-cart"></i></a>
                <a href="../templates/login.html" class="login-icon"><i class="fas fa-user"></i></a>
                <a href="../templates/carrito.html" class="login-icon"><i class="far fa-heart"></i></a>
              </div>
               <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>


            </div>
            
         
    </nav>
    
    
    <main>
        <div class="contact-form"> 
           <div class="contenedor-trabaja">
            <h1 class="trabaja">Trabaja con Nosotros</h1>
           </div> 
            <form class="contact-form">
                <input type="text" id="nombre" placeholder="Nombre" class="input-field" required>
                <input type="email" id="email" placeholder="Correo Electrónico" class="input-field" required>
                <input type="tel" id="telefono" placeholder="Telefono" class="input-field" required>
               <div class="contenedor-cv">
                <p class="ingresa">
                    Ingresa tu curriculum vitae:
                </p>
                <p >
                    <label for="cv" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Subir archivo
                    </label>
                    <input type="file" id="cv" name="cv" accept=".pdf, .doc, .docx" style="display: none;">
                </p>

               </div> 
                
                <textarea placeholder="Mensaje" class="input-field textarea"></textarea>
                <button type="button" class="submit-button" onclick="validarFormulario()">Enviar</button>
            </form>
        </div>
    </main>

            <footer>
                <div class="footer-container">
                    <p>&copy; 2023 Mi Página Web. Todos los derechos reservados.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </footer>
           
           
    </main>
    <script src="../APP/trabaja_con_nosotros.js"></script>
</body>
</html>